<html>
<head>
	<link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
	<style type="text/css">
	
	.tag-line {
    	/*background-color: rgb(86, 61, 124);*/
    	/*color: rgb(255, 255, 255);*/
    	padding-top: 75px;
    	/*padding-bottom: 25px;*/

    	/*font-size: 35px;*/
    	/*text-align: center;*/
	}
	
	</style>
</head>
<body>
	<!-- Header Data -->
	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom affix-top">
		<div class="container">

			<span class="navbar-brand" style="font-family: Raleway;font-weight: bold; font-size: 35px"> SongBar </span>	
			
		</div>

	</nav>	

	 <!-- Container Class -->
	<div class="tag-line">
	 <div class="container">
        <div class="row">
    	{% for row in data1 %}
    		<div class="col-sm-6">
			<div class="alert alert-info">
    		<a href="{{url_for('showsong', mname=row['MovieName'] )}}">{{row['MovieName']}}</a>
    		</div>
    		</div>
    	{% endfor %}

    </div>
	</div>

   </div>	
</body>
</html>