<html>
<head>
	<link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">

	<style type="text/css">

	.font1{
		color: #000;
	}
	.tag-line {
    	background-color: rgb(24, 77, 71);
    	color: rgb(255, 255, 255);
    	padding: 35px 50px;
    	font-size: 25px;
    	text-align: center;
	}
	.features-sec {
    background-color: rgb(220, 220, 220);
    padding-bottom: 50px;
    padding-top: 50px;
	}

	.description-sec {
    background-color: rgb(241, 229, 255);
    color: rgb(107, 105, 105);
    padding-bottom: 50px;
    padding-top: 50px;
}
	</style>

</head>

<body>
	
	<nav class="navbar navbar-inverse navbar-default navbar-static-top">
		
		<div class="nav navbar-nav">
			<span class="navbar-brand" style="color:red;font-family: Raleway;font-weight: bold;"> SongsBar </span>	
			
		</div>

	</nav>	

<div class="tag-line">
   <div class="container">
  	  	<div class="row">
    		<div class="col-md-12"> 
    			{{ mname }}
    		</div> 
      	</div>
   	</div>
</div>

<div class="features-sec">
<div class="container">	
	<div class="row">	
    	
    		<div class="row"><div class="col-sm-12 alert alert-info"><font size="5px">Download Single Song</font></div></div>


    		{% for row in slink %}
    		
    			<div class="alert alert-info row">
    			<div class="col-md-12">
    			<div class="col-sm-6 "><b class="font1">{{ row['SongName'] }}</b></div>

    			<div class="col-sm-3"><a class="btn btn-success" href="{{ row['MP128'] }}">Download 128 kbps</a></div>

    			<div class="col-sm-3"><a class="btn btn-success" href ="{{ row['MP320'] }}">Download 320 kbps</a>

    			</div>


    		</div>
    		</div>
    			
    		{% endfor %}
   
    </div> 
</div>	   
</div>
<div class="description-sec">
	<div class="container">
	<div class="row">
    	
    	 {% for row in mlink %} 
    		<div class="alert alert-info row">
    			<div class="col-md-12">
    		<div class="col-sm-12"><font size="5px">Download All In One Click</font></div>
    		<div class="col-sm-6"><b class="font1">{{ row['MovieName'] }}</b></div>
    		<div class="col-sm-3"><a class="btn btn-success" href="{{ row['Zip128'] }}">Download 128kbps Zip</a>  </div>
    		<div class="col-sm-3"><a class="btn btn-success" href="{{ row['Zip320'] }}">Download 320kbps Zip</a> </div>
    	 	</div>
    	 	</div>
    	 {% endfor %} 
    	
    </div>
   </div>
</div>
</body>
</htML>